
@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>
<body>
    <a href="https://localhost:44383/Doctor/ViewMyInfo"><button type="button">View your info</button></a>
    <a href="https://localhost:44383/Doctor/DoctorPhone"><button type="button">Add your phone</button></a>
    <a href="https://localhost:44383/Doctor/ViewMedicalHistory"><button type="button">View MedicalHistory</button></a>
    <h2>Home</h2>
   
        <a href="https://localhost:44383/Patient/DoctorRequests"><button type="button">Request</button></a>
        <a href="https://localhost:44383/Patient/DoctorWrite"><button type="button">Write</button></a>
       



    



</body>

