
@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>
<body>
    <a href="https://localhost:44383/Patient/ViewMyInfo"><button type="button">List patients</button></a>
    <a href="https://localhost:44383/Nurse/ManageCallCenter"><button type="button">Call centers</button></a>
    <a href="https://localhost:44383/Nurse/CheckHospitalDocsAndPatients"><button type="button">CheckHospitalDocsAndPatients</button></a>



</body>

