<a href="https://localhost:44383/Patient/Register"><button type="button">Patient</button></a>
<a href="https://localhost:44383/Doctor/Register"><button type="button">Doctor</button></a>
<a href="https://localhost:44383/Nurse/Register"><button type="button">Nurse</button></a>
<a href="https://localhost:44383/Pharmacist/Register"><button type="button">Pharmacist</button></a>


