
@{
    ViewBag.Title = "Index";
    
}

<h2>Home</h2>
<body>
    <a href="https://localhost:44383/Patient/EditMyProfile"><button type="button">Edit your profile</button></a>
    <a href="https://localhost:44383/Patient/MakeAppointments"><button type="button">Make appointment</button></a>
    <a href="https://localhost:44383/Patient/ViewMyInfo"><button type="button">View your info</button></a>



</body>

