
@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>
<body>
    <a href="https://localhost:44383/Pharmacist/EditMyProfile"><button type="button">Edit your profile</button></a>
    <a href="https://localhost:44383/Pharmacist/CheckPrescriptions"><button type="button">CheckPrescriptions</button></a>
    <a href="https://localhost:44383/Pharmacist/ViewMyInfo"><button type="button">View your info</button></a>



</body>

